// Menu
#nav {
	z-index: 10000;
	position: sticky;
	top: 4rem;
	@include flex-layout(row, nowrap);
	@include flex-alignment(space-between, center);
	height: 5rem;
	padding: 1rem;
	background: $primary-color-transparent;

	@include respond-to-width(1024px) {
		height: 6rem;
	}
}

#hamburger {
	z-index: 100;

	@include respond-to-width(1024px) {
		display: none;
	}
}

.fa-bars {
	font-size: 1.75rem;
}

.fa-times {
	color: rgb(255, 0, 0);
	font-size: 2rem;
}

.menu {
	display: none;
	position: fixed;
	top: 9rem;
	right: 0;
	width: 100%;
	height: calc(100% - 8.8rem);
	background: $primary-color-transparent;
	text-align: center;

	@include respond-to-width(1024px) {
		@include flex-layout(row, nowrap);
		position: initial;
		top: initial;
		right: initial;
		width: initial;
		height: initial;
		background: initial;
	}
}

.menu-item {
	border: 0.125rem solid $box-primary-color;
	margin-bottom: 1rem;
	background: $primary-color-lighter;
	font-size: 1.5rem;

	@include respond-to-width(1024px) {
		border: initial;
		margin-bottom: initial;
		background: initial;
	}
}

.menu-link {
	display: block;
	width: 15rem;
	padding: 0.7rem 1rem;

	@include respond-to-width(1024px) {
		display: initial;
		width: initial;
		padding: 1rem;

		&:hover,
		&:focus {
			box-shadow: $box-shadow-3;
			transition: box-shadow 300ms ease;
		}
	}
}
