// Colors
$primary-color: rgb(219, 196, 204);
$primary-color-transparent: rgba(219, 196, 204, 0.7);
$primary-color-lighter: rgb(245, 224, 230);
$secondary-color: rgb(202, 171, 168);
$tertiary-color: rgb(219, 196, 204);
$box-primary-color: rgb(169, 137, 152);
$box-secondary-color: rgb(197, 179, 195);
$text-color: rgb(35, 22, 32);
$tagline-color: rgb(255, 255, 255);

// Border-radiuses
$border-radius-primary: 0.3rem;

// Shadows
$box-shadow-1: 0.25rem 0.25rem 0.25rem rgb(102, 102, 102);
$box-shadow-2: 0.25rem 0.25rem 0.25rem rgb(82, 80, 74);
$box-shadow-3: 0.125rem 0.125rem 0.3rem $box-primary-color;
